*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
  color: white; 
}
html,
body{
  height: 100%;
  width: 100%;
  background-color: black;
}
.parent{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.card{
    width: 200px;
    border: 1px solid white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    background-color: #333;
    
}
.card img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50px;
}
.card p{
    margin: 20px 0;
}
.card button{
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
}